.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 5rem;
  margin-top: 0;
}

.flag {
  width: 360px; /* Should be a multiple of 18 to avoid gaps */
}
