@use "flags";

/// Adds column gradients to a specified flag.
@mixin flag($name, $palette) {
  &.#{$name} {
    @if length($palette) == 1 {
      // mono-block flags, same palette throughout
      .column {
        background: nth($palette, 1);
      }
    } @else if length($palette) == 18 {
      @for $i from 0 to length($palette) {
        // flags with an ounce of creativity that aren't just bars
        .column-#{$i} {
          background: nth($palette, $i + 1);
        }
      }
    } @else {
      @error "$columns must be either 1 or 18 gradients";
    }
  }
}

.flag {
  display: flex;
  aspect-ratio: 3 / 2;

  @include flag("pan", flags.$pan);

  @include flag("progress-pride", flags.$progress-pride);
}

.column {
  flex: 1;
  min-width: 20px;

  animation: oscillate 500ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@for $i from 0 to 18 {
  .column-#{$i} {
    animation-delay: #{$i * 100}ms;
  }
}

@keyframes oscillate {
  from {
    transform: translateY(8px);
  }

  to {
    transform: translateY(-8px);
  }
}
