@use "styles/colors";

html {
  text-size-adjust: 100%;
  tab-size: 2;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;

  @include colors.light {
    background-color: colors.$background-color-light;
  }

  @include colors.dark {
    background-color: colors.$background-color-dark;
  }
}

* {
  @include colors.dark {
    color: #e1e1e1;
  }
}

main {
  line-height: 1.4;
}

header {
  line-height: 1;
}
